@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 5rem;
}
.banner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    260deg,
    rgb(255, 255, 255) 10%,
    rgba(255, 255, 255, 0.425) 50%,
    rgb(255, 255, 255) 90%
  );
}
.hamburger-menu {
  display: grid;
  width: 4rem;
  height: 4rem;
  z-index: 999;
  transform: translateX(-70%);
  left: 70%;
}
.hamburger__bar {
  width: 2rem;
  height: 0.3rem;
}
.cont:hover .title {
  color: #b91c1c;
}
.bg-gradient-newsletter {
  background: linear-gradient(180deg, #ffffff 80%, #b91c1c 10%);
}
@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}
